* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Hero', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}


/* Header section */
.header {
    background-color: #1F2937;   
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 100px;
    align-items: center;
    padding-bottom: 100px;
}

.container {
    display: flex;
    width: 1000px;
    box-sizing: border-box;
    gap: 48px;
    align-items: center;
}

.header .main-text {
    font-size: 48px;
    font-weight: 800;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.header .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.subcontainer .secondary-text {
    margin: 12px 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

img {
    width: 50%;
    height: auto;
    margin-left: auto;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 24px;
    border-radius: 8px;
    border-style: none;
    flex-grow: 0;
}

/* Information section */
.information {
    background-color: F9FAF8;    
    flex-grow: 1;
}

.information .main-text {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    line-height: 100%;
    text-align: center;
}

.information .container {
    display: flex;
    width: 1000px;
    box-sizing: border-box;
    gap: 24px;
    justify-content: center;
    margin: 48px auto;
}

.card {
    flex-basis: 100px;
    flex-shrink: 0;
}

.illustration {
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.subtext {
    font-size: 16px;
    color: #4a5462;
    text-align: center;
}

/* Quote section */
.quote {
    background-color: #E5E7EB;    
    flex-grow: 1;
}

/* Signup section */
.signup {
    background-color: #F9FAF8;    
    flex-grow: 1;
}

/* Footer section */
.footer {
    background-color: #1f2937;    
    color: #F9FAF8;
}